<%- include("dashboardHeader"); -%>

<div class="page-body">
    <!-- Container-fluid starts-->
    <div class="container-fluid p-t-45">
        <div class="row">
            <div class="col-sm-12">
                <% if (categoryEdited === 1 ) { %>
                <div
                    class="alert alert-success alert-dismissible fade show"
                    role="alert"
                    style="text-align: right"
                >
                    <button
                        type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-label="Close"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>پلتفرم تیارا :</strong> دسته شما با موفقیت ویرایش
                    شد
                </div>
                <% } %>
                <div class="card">
                    <div class="card-header">
                        <h5>ویرایش دسته بندی</h5>
                    </div>
                    <div class="card-body">
                        <div class="row category-adding">
                            <div class="col-xl-7">
                                <form
                                    class="needs-validation add-category-form"
                                    action="/user/editCategory"
                                    method="POST"
                                    enctype="multipart/form-data"
                                    id="editCategoryForm"
                                >
                                    <div class="form">
                                        <div class="form-group mb-3 row">
                                            <label
                                                for="validationCustom01"
                                                class="col-xl-3 col-sm-4 mb-0"
                                                >نام دسته :</label
                                            >
                                            <input
                                                name="newCategoryName"
                                                class="form-control col-xl-8 col-sm-7"
                                                id="validationCustom01"
                                                type="text"
                                                value="<%= category.categoryName %>"
                                                required=""
                                            />
                                            <div
                                                class="invalid-feedback offset-sm-4 offset-xl-3"
                                            >
                                                لطفا مقدار معتبر وارد کنید
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-sm-4"
                                                >عوض کردن عکس:</label
                                            >
                                            <div class="box-input-file">
                                                <input
                                                    name="categoryPicture"
                                                    class="upload"
                                                    type="file"
                                                    accept="image/*"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="userTokenHide" id="userTokenHide" value="<%= token %>">
                                    <input type="hidden" name="categoryId" id="categoryId" value="<%= category._id %>">
                                    <input type="hidden" name="categoryName" id="categoryName" value="<%= category.categoryName %>">
                                    <div class="offset-xl-3 offset-sm-4">
                                        <button
                                            onclick="actionSet()"
                                            type="submit"
                                            class="btn btn-success"
                                        >
                                            ویرایش
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>
<script>
    function actionSet() {
        let token = localStorage.getItem("userToken");
        document.getElementById("editCategoryForm").action = `user/editCategory?userToken=${token}`;
        document.getElementById("editCategoryForm").submit();

    }
</script>
<%- include("dashboardFooter"); -%>
