<%- include("header"); -%>

<div class="page-body">
    <!-- Container-fluid starts-->
    <div class="container-fluid p-t-45">
        <div class="row">
            <div class="mb-4 col-lg-12 col-md-12 col-sm-12">
                <% if (sort === 1 && resultProducts.length >= 1) { %>
                <div class="m-2">
                    <form id="sort" name="sort" method="GET" enctype="multipart/form-data" action="/sort">
                        <label for="sortBy">مرتب سازی: </label>
                        <input type="hidden" name="categoryName" id="categoryName" value="<%= resultProducts[0].categoryName %>">
                        <select  onchange="actionSet();" name="sortBy" id="sortBy" style="border-radius: 5%; border-color: tomato;">
                            <option value="" selected disabled hidden>انتخاب کنید</option>
                            <option disabled>محبوبیت</option>
                            <option disabled>پر فروش ترین</option>
                            <option value="priceLowToHigh">قیمت کم به زیاد</option>
                            <option value="priceHighToLow">قیمت زیاد به کم</option>        
                        </select>
                    </form>
                </div>
                <% } %>
                <div class="card" style="background-color: rgb(234, 235, 238);">
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="card-deck">
                                    <% if (resultProducts.length === 0) { %>
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="text-align: right;">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <strong>پلتفرم تیارا :</strong> محصولی یافت نشد
                                          </div>
                                    <% } %>
                                    <% resultProducts.forEach(product=> { %>
                                        <div class="mb-4 col-lg-3 col-md-3 col-sm-10">
                                            <a href="productPage?productId=<%= product._id %>" id="productsCard">
                                                <div class="card shadow-lg" style="width: 100%; height: 100%; margin-top: 25px;">
                                                    <img src="<%= product.productPicture %>" class="card-img-top" style="width: 100%; height: 180px;" alt="<%= product.productName %>">
                                                    <div class="card-body">
                                                        <% if (product.productName.length <= 21) { %>
                                                        <h5 class="card-title"><%= product.productName %></h5>
                                                        <% } else{ %>
                                                        <h5 class="card-title" style="font-size: small;"><%= product.productName %></h5>
                                                        <% } %>
                                                        <p class="card-text"><%= product.productDetails.productSize %> - <strong><%= product.productDetails.productPrice %> تومان</strong></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function actionSet() {
        let categoryName = document.getElementById("categoryName").value;
        let sortBy = document.getElementById("sortBy").value;
        document.getElementById("sort").action = `sort?categoryName=${categoryName}&sortBy=${sortBy}`;
        document.getElementById("sort").submit();
    }
</script>
<%- include("footer"); -%>